<div class="container h-100 d-flex justify-content-center align-items-center">
  <div class="p-4 bg-light rounded shadow-sm col-md-8 col-lg-6">
  <h3 class="text-center">Apply for Position</h3>
  <hr>
  <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg.length">
    <p class="p-0 m-0" *ngFor="let msg of errorMsg">{{msg}}</p>
  </div>
  <form (submit)="onSubmit()" class="row g-3">
    <input type="file" (change)="onFileSelected($event)" class="form-control"/>
    <div class="d-flex justify-content-end gap-2 col-12">
    <button type="submit" class="btn btn-outline-primary btn-color">Submit Application</button>
    </div>
  </form> 
</div> 
</div>
