<div class="home-page">
  <img src="assets/home-cand.jpg" alt="Homepage Image" class="home-image">
</div>
<br>
<br>
<div class="container">
  <div class="title-container">
  <h2 class="text-center " style="padding: 10px;" >My Applications</h2>
  <hr>
  </div>
  <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>CV File Name</th>
        <th>Position Name</th>
        <th>Status</th>
        <th>Submission Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let application of applications">
        <td>
          <a href="javascript:void(0)" (click)="downloadCv(application.id!)">
            {{ application.cvName }}
          </a>
        </td>
        <td>{{application.positionName}}</td>
        <td>{{ application.status }}</td>
        <td>{{ application.submittedDate| date }}</td>
      </tr>
    </tbody>
  </table>
</div>
