<div class="container h-100 d-flex justify-content-center align-items-center">
  <div class="p-4 bg-light rounded shadow-sm col-md-8 col-lg-6">
    <h2 class="text-center">New Position</h2>
    <hr>
    <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg.length">
      <p class="p-0 m-0" *ngFor="let msg of errorMsg">{{msg}}</p>
    </div>
    <form class="row g-3">
      <div class="col-12">
        <label for="title" class="form-label">Title</label>
        <input [(ngModel)]="positionRequest.title" type="text" class="form-control" id="title" name="title"
               placeholder="Position title">
      </div>
      <div class="col-12">
        <label for="location" class="form-label">Location</label>
        <input [(ngModel)]="positionRequest.Location" type="text" class="form-control" id="location" name="location"
               placeholder="Type the address">
      </div>
      <div class="col-12">
        <label for="salary" class="form-label">Salary</label>
        <input [(ngModel)]="positionRequest.salary" type="number" class="form-control" id="salary" name="salary">
      </div>
      <div class="col-12">
        <label for="description" class="form-label">Description</label>
        <textarea [(ngModel)]="positionRequest.description" rows="4" class="form-control" id="description" name="description"
                  placeholder="type the description"></textarea>
      </div>
      <div class="col-12">
        <label for="requirements" class="form-label">Requirements</label>
        <textarea [(ngModel)]="positionRequest.requirements" rows="2" class="form-control" id="requirements" name="requirements"
                  placeholder="type the requirements"></textarea>
      </div>
      <div class="col-12">
        <label for="skills" class="form-label">skills</label>
        <textarea [(ngModel)]="positionRequest.skills" rows="2" class="form-control" id="skills" name="skills"
                  placeholder="type the skills"></textarea>
      </div>
      <div class="d-flex justify-content-end gap-2 col-12">
        <button (click)="savePosition()" type="submit" class="btn btn-outline-primary btn-color">
          <i class="fas fa-save"></i>&nbsp;Save
        </button>
        <a (click)="cancelPosition()" type="submit" class="btn btn-link btn text-danger">
          <i class="fas fa-times"></i>&nbsp;Cancel
        </a>
      </div>
    </form>
  </div>
</div>
