<br>
<br>
<section class="vh-100">
 <div class="container-fluid h-custom">
   <div class="row d-flex justify-content-center align-items-center h-100">
     <div class="col-md-9 col-lg-6 col-xl-5">
       <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
         class="img-fluid" alt="Sample image">
     </div>
     <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
          <p *ngFor="let msg of errorMsg">{{msg}}</p>
        </div>
       <form>
           <h2 class="text-center">Register </h2>
           <br>
         <!-- Email input -->
         <div data-mdb-input-init class="form-outline mb-4">
           <label class="form-label" for="form3Example3">Email</label>
           <input [(ngModel)]="registerRequest.email" type="email" id="form3Example3" name="email" class="form-control form-control-lg"
             placeholder="Enter a valid email address" />
         </div>

         <div data-mdb-input-init class="form-outline mb-3">
           <label class="form-label" for="form3Example4">First Name</label>
           <input [(ngModel)]="registerRequest.firstname" type="text" id="form3Example4" name="firstname" class="form-control form-control-lg"
             placeholder="Enter your first name" />
         </div>
         <div data-mdb-input-init class="form-outline mb-3">
          <label class="form-label" for="form3Example4">Last Name</label>
          <input [(ngModel)]="registerRequest.lastname" type="text" id="form3Example4" name="lasttname" class="form-control form-control-lg"
            placeholder="Enter your last name" />
        </div>
        <div data-mdb-input-init class="form-outline mb-3">
          <label class="form-label" for="form3Example4">Password</label>
          <input [(ngModel)]="registerRequest.password" type="password" id="form3Example4" name="password" class="form-control form-control-lg"
            placeholder="Enter password" />
        </div>
        <div data-mdb-input-init class="form-outline mb-3">
          <label class="form-label" for="form3Example4">Role</label>
          <select id="role" class="form-control" [(ngModel)]="registerRequest.role" name="role" required>
            <option *ngFor="let role of ['CANDIDATE', 'EMPLOYER']" [value]="role">{{ role }}</option>
          </select>
        </div>
        <div *ngIf="registerRequest.role === 'CANDIDATE'">
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Personal Resume</label>
            <input [(ngModel)]="registerRequest.personalResume" type="text" id="form3Example4" name="personalResume" class="form-control form-control-lg"
              placeholder="Enter personal resume" />
          </div>
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Phone Number</label>
            <input [(ngModel)]="registerRequest.phoneNumber" type="text" id="form3Example4" name="phoneNumber" class="form-control form-control-lg"
              placeholder="Enter your phone number" />
          </div>
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Age</label>
            <input [(ngModel)]="registerRequest.age" type="number" id="form3Example4" name="age" class="form-control form-control-lg"
              placeholder="Enter your age" />
          </div>
        </div>
        <div *ngIf="registerRequest.role === 'EMPLOYER'">
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Entreprise Name</label>
            <input [(ngModel)]="registerRequest.entrepriseName" type="text" id="form3Example4" name="entrepriseName" class="form-control form-control-lg"
              placeholder="Enter the entreprise name" />
          </div>
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Entreprise Description</label>
            <input [(ngModel)]="registerRequest.entrepriseDescription" type="text" id="form3Example4" name="entrepriseDescription" class="form-control form-control-lg"
              placeholder="Enter the entreprise description" />
          </div>
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Entreprise Website</label>
            <input [(ngModel)]="registerRequest.entrepriseWebsite" type="text" id="form3Example4" name="entrepriseWebsite" class="form-control form-control-lg"
              placeholder="Enter the entreprise Website" />
          </div>
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Entreprise Location</label>
            <input [(ngModel)]="registerRequest.entrepriseLocation" type="text" id="form3Example4" name="entrepriseLocation" class="form-control form-control-lg"
              placeholder="Enter the entreprise location" />
          </div>
        </div>

         <div class="text-center text-lg-start mt-4 pt-2 d-flex justify-content-between">
           <button (click)="register()" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
             style="padding-left: 2.5rem; padding-right: 2.5rem;" class="btn btn-primary btn-color">
            Register
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account?&nbsp;<button (click)="login()" type="button" class="btn btn-link">
              Login
            </button></p>
         </div>
       </form>
     </div>
   </div>
 </div>
</section>

