div{
  &.card{
    max-height: 350px;
    min-height: 350px;
  }
}
i, h6{
  cursor: pointer;
}
.btn-positions {
  background-color: #1ce1ac;
  color: #fff;
  border: 1px solid #1ce1ac;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; 
}

.btn-positions:hover {
  background-color: #14af86;
  border-color: #14af86;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.button-container {
  display: flex;
  margin-top: 3px;
  margin-bottom: 7px;
}

